PORT=3015
API_KEY=)6D*1?y}oRf!,>Uv"XAfn:yWbzWHs^1mWLAa~R|Kp1$z=rduBN
JWT_SECRET=Lu@24KRn_f1+k69&B'%D{{c?o&<Z{_cb/bW$Z[1<5D9ogNzAcu
JWT_EXPIRATION_IN_DAYS=2
MONGODB_URI=mongodb://admin:admin@mongodb:27017/diakem-notification-service?authSource=admin